_yardoc
.bundle
.config
.rbenv-vars
.yardoc
*.a
*.bundle
*.gem
*.gemfile.lock
*.o
*.rbc
*.so
coverage
doc/
Gemfile.lock
InstalledFiles
lib/bundler/man
mkmf.log
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.env.*
